html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECEFF1;
  color: #263238;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;

  flex-direction: column;
  gap: 0rem !important;

  min-height: 100%;

  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

section {
  padding-block: 4rem;
}

section:first-of-type {
  height: calc(100vh - 113px);
  align-items: center;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h1, h2 {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-weight: 800;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
  color: #801A00;
}

p {
  letter-spacing: 1px;
}

button {
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
}