html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECEFF1;
  color: #263238;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;

  overflow-x: hidden;

  height: 2000px; /* temp style to test fixed nav */
}

main {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #801A00;
}

button {
  border: 0;
  /* border-radius: 0.25rem; */
  /* color: white; */
  text-decoration: none;
  /* padding: 0.25rem 0.5rem; */
  cursor: pointer;
}