.flex {
  display: flex;
  gap: 1rem;
}

.scrollable {
  height: 100vh;
  overflow-y: auto;
}

.text-dark {
  color: #263238;
}

.text-center {
  text-align: center;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}