---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog" description="You're blog page">
  <section class="flex">
    <div class="content">
      <h1 class="title text-center">Blog</h1>
      <p class="headline text-center">Your blog page</p>
    </div>
  </section>
</Layout>

<style>
  .content {
    width: 100%;

    transform: translateY(-54%);
  }
</style>
