---
import '../styles/utils.css';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Website Boilerplate">
  <main>
    <h1 class="title">Astro Website Boilerplate</h1>
  </main>
</Layout>

<script>
  // @ts-ignore
  if (window.netlifyIdentity) {
    // @ts-ignore
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        // @ts-ignore
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>

<style>
  .title {
    margin-top: 4rem;
    text-align: center;
  }
</style>
