---
import '../styles/utils.css';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

const title = 'Astro Website Boilerplate';
const headline = 'A bare bones Astro template.';
---

<Layout title="Astro Website Boilerplate">
  <main>
    <h1 class="title">{title}</h1>
    <p class="headline">{headline}</p>
  </main>
</Layout>

<script>
  // @ts-ignore
  if (window.netlifyIdentity) {
    // @ts-ignore
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        // @ts-ignore
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>

<style>
  .title {
    margin-top: 4rem;
    text-align: center;
  }

  .headline {
    text-align: center;
  }
</style>
