---
import '../styles/utils.css';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Website Boilerplate">
  <main>
    <h1>Astro Website Boilerplate</h1>
  </main>
</Layout>

<style></style>
