---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Button from '../components/Button.astro';

import content from '../content/pages/landing.json';
---

<Layout title={content.title} description={content.headline}>
  <Container>
    <section class="hero-section flex">
      <div class="content">
        <h1 class="title text-center">{content.title}</h1>
        <p class="headline text-center">{content.headline}</p>
      </div>
    </section>
    <section class="tech-section flex">
      <h2>Technologies used</h2>
      <ul class="tech-list">
        <li class="list-item">AstroJS</li>
        <li class="list-item">ESLint</li>
        <li class="list-item">Stylelint</li>
        <li class="list-item">Prettier</li>
        <li class="list-item">Netlify</li>
        <li class="list-item">AstroSEO</li>
        <li class="list-item">Decap CMS</li>
        <li class="list-item">GSAP</li>
      </ul>
    </section>
    <section class="github-section flex">
      <Button
        label="View project on Github"
        url="https://github.com/timamero/astro-website-boilerplate"
      />
    </section>
  </Container>
</Layout>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  // @ts-ignore
  if (window.netlifyIdentity) {
    // @ts-ignore
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        // @ts-ignore
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
  // after adding view transitions, the animations do not work, make need to put persist attribute

  document.addEventListener('DOMContentLoaded', function (event) {
    // wait until window, stylesheets, images, links, and other media assets are loaded
    window.onload = function () {
      gsap.fromTo('.title', { autoAlpha: 0 }, { autoAlpha: 1, duration: 2 });

      gsap.fromTo(
        '.headline',
        { autoAlpha: 0 },
        { autoAlpha: 1, duration: 1, delay: 1.25 },
      );

      ScrollTrigger.batch('.list-item', {
        start: 'top 80%',
        end: 'bottom 70%',
        onEnter: (batch) =>
          gsap.to(batch, { opacity: 1, x: 0, y: 0, stagger: 0.15 }),
      });
    };
  });
</script>

<style>
  /* Hero styles */
  .headline,
  .title {
    visibility: hidden;
  }

  .title {
    margin-bottom: 4px;
  }

  .content {
    width: 100%;

    transform: translateY(-54%);
  }

  /* Tech styles */
  .tech-section {
    flex-direction: column;
    align-items: center;
  }

  .tech-list {
    width: 100%;
    height: min-content;
  }

  .tech-list .list-item {
    font-size: 1.5rem;
    text-align: center;

    padding-block: 0.5rem;

    overflow: hidden;

    /* inital styles before animation */
    transform: translateY(2rem);
    opacity: 0;
  }

  /* Github styles */
  .github-section {
    margin-block: clamp(4rem, 30vh, 20rem);

    justify-content: center;
  }
</style>
