---
import '../styles/utils.css';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

import content from '../content/pages/landing.json';
---

<Layout title={content.title} description={content.headline}>
  <h1 class="title">{content.title}</h1>
  <p class="headline">{content.headline}</p>
</Layout>

<script>
  // @ts-ignore
  if (window.netlifyIdentity) {
    // @ts-ignore
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        // @ts-ignore
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>

<style>
  .title {
    margin-top: 4rem;
    text-align: center;
  }

  .headline {
    text-align: center;
  }
</style>
