---
interface Props {
  label: string;
  url: string;
}

const { label, url } = Astro.props;
---

<a href={url} class="button">
  {label}
</a>

<style>
  .button {
    font-size: 1.5em;
    color: inherit;

    padding-block: 1rem;
    padding-inline: 2rem;

    border-radius: 8px;
    background-color: rgb(255, 224, 179, 0.3);

    /* transform: translateY(0px); */

    transition: all 350ms ease-out;
  }

  .button:hover {
    background-color: rgb(255, 224, 179, 1);

    transform: translateY(-4px);

    box-shadow: 2px 2px 2px 1px rgb(255, 224, 179, 0.3);
  }
</style>
