---
interface Props {
  label: string;
  url: string;
}

const { label, url } = Astro.props;
---

<div class="button-container">
  <a href={url} class="button">
    {label}
  </a>
</div>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener('astro:page-load', () => {
    gsap.to('.button', {
      scrollTrigger: {
        scroller: '.scrollable',
        trigger: '.button',
        start: 'top 80%',
        end: 'bottom 70%',
      },
      y: 0,
      opacity: 1,
      duration: 1,
    });
  });
</script>

<style>
  .button-container {
    display: flex;
    overflow: hidden;
  }

  .button {
    font-size: 1.5em;
    color: inherit;

    padding-block: 1.3rem 1rem;
    padding-inline: 2rem;

    border-radius: 8px;
    background-color: rgb(255, 224, 179, 0.3);

    transition: all 350ms ease-out;

    transform: translateY(3rem);
    opacity: 0;
  }

  .button:hover {
    background-color: rgb(255, 224, 179, 1);

    transform: translateY(-4px);

    box-shadow: 2px 2px 2px 1px rgb(255, 224, 179, 0.3);
  }
</style>
