backend:
  name: git-gateway
  branch: main
collections:
  - name: 'pages' # Used in routes, e.g., /admin/collections/blog
    label: 'Pages' # Used in the UI
    files:
      - label: 'Landing Page'
        name: 'landing'
        file: 'src/pages/index.astro' # The path to the folder where the documents are stored
    fields: # The fields for each document, usually in frontmatter
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Headline', name: 'headline', widget: 'markdown' }
media_folder: 'src/assets/images' # Location where files will be stored in the repo
public_folder: 'src/assets/images' # The src attribute for uploaded media
