---
interface Props {
  title: string;
  description: string;
}

import '../styles/reset.css';
import '../styles/utils.css';
import '../styles/global.css';

import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: 'A Very Descriptive Title',
          type: 'A type.',
          image:
            'https://images.unsplash.com/photo-1661704045434-4e08197b09ea?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
      }}
      twitter={{
        creator: '@twitterusername',
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: 'icon', href: '/favicon.svg' }],
        // extending the default meta tags
        meta: [
          {
            name: 'twitter:image',
            content:
              'https://images.unsplash.com/photo-1661704045434-4e08197b09ea?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
          },
          { name: 'twitter:title', content: 'Twitter Title' },
          { name: 'twitter:description', content: 'Twitter Description' },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body class="flex">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
